.section-admin{
 display: flex;
}

.conteiner-panel {
  width: 400px;
  height: 650px;
  background-color: var(--color-white-light);
  margin-top: 2em;
  margin-left: 6em;
  box-shadow: var(--boxShadow-dash);
  border-radius: var(--border-radius-boton);
}

.btn-admin {
  width: 150px;
  height: 130px;
  background-color: var(--color-white);
  border: none;
  box-shadow: var(--boxShadow-dash);
  border-radius: var(--border-radius-boton);
  margin-left: 2em;
  margin-top: 2em;
}

.material-icons.md-30 {
  color: var(--color-green-steps);
  font-size: 3em;
}

.p-btn-adim {
  color: var(--color-border-input);
}

.conteiner-result {
  width: 680px;
  height: 650px;
  margin-top: 2em;
  margin-left: 4em;
  background-color: var(--color-white-light);
  box-shadow: var(--boxShadow-dash);
  border-radius: var(--border-radius-boton);
}

.contenedor-titulo-admin {
  display: flex;
  grid-area: title;
  color: var(--color-border-input);
  margin-top: 2em;
}

.material-icons.md-13 {
  font-size: 2em;
  color: var(--color-green-steps);
  margin-left: 1em;
}

.title-add {
  margin-top: 0.3em;
  margin-left: .5em;
}

.label-admin {
  font-size: 14px;
  width: 15em;
  color: var(--color-blue-bajo);
  margin-top: 1em;
}

.input-admin {
  width: 15em;
  height: 1.8em;
  background-color: white;
  border-radius: 5px;
  border: none;
  border: 1px solid var(--color-border-input);
  padding: 0.5em;
}

.input-admin:focus {
  outline: none;
  border: solid 1.1px var(--color-green-boletin);
  background-color: var(--color-gray-bajo);
}

.contentAdminForm {
  display: grid;
  grid-template-areas: 'label1 label2 label2' 
                       'input1 input2 input2'
                       'label3 label4 label4'
                       'input3 input4 btn';
  margin-left: 2.5em;

}

.label-admin-1 {
  grid-area: label1;
  
}

.label-admin-2 {
  grid-area: label2;
}

.label-admin-3 {
  grid-area: label3;
}

.label-admin-4 {
  grid-area: label4;
}

.input-admin-1 {
  grid-area: input1;
}

.input-admin-2 {
  grid-area: input2;
  width: 11.5em;
}

.input-admin-3 {
  grid-area: input3;
  width: 11.5em;
}

.input-admin-4 {
  grid-area: input4;
}

.btn-crear-proyecto {
  grid-area: btn;
}

.listado-admin {
  margin-top: 5em;
  color: var(--color-border-input);
}

.tabla-proyecto {
  width: 40vw;
  margin-left: 2em;
  text-align: center;
  border-bottom: var(--border-line);
}

.tabla-proyecto tbody tr:nth-child(odd) {
  height: 2.5em;
  background: var(--color-grey-border-img);
}

.tabla-proyecto tbody tr:nth-child(even) {
  height: 2.5em;
  background: var(--color-white-light);
}