/*Diseño boletines*/
/*css grid form general*/
.contenido-form{
    overflow-x: hidden;
    display: grid;
    grid-template-areas: "div1" "div2" "div3" "div4";
}
.div {
    background-color: #FFFFFF;
    margin-top: 10px;
    border-bottom: 1px solid var(--color-grey-border);
    padding-top: 1em;
    padding-bottom: 1em;
}

.conteiner-numero {
    color: #3E3E3E;
    display: flex;
}

.numero {
    margin-left: 2em;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--color-grey-border-img);
}

.p {
    margin-top: .1em;
    margin-left: 1em;
}

.label {
    width: 15em;
    color: var(--color-blue-bajo);
}

.input {
    width: 15em;
    height: 1.8em;
    background-color: white;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--color-border-input);
    padding: 0.5em;
}

.input:focus {
    outline: none;
    border: solid 1.1px var(--color-green-boletin);
    background-color: var(--color-gray-bajo);
}

/*Icon info hover*/
.material-icons.md-4 {
    color: var(--color-separacion-header);
    margin-left: 0.5em;
}

    .caja3 {
        position: relative;
        width: 24px;
        }
        
        .info {
        position: absolute;
        opacity: 0;
        width: 150px;
        height: 110px;
        padding: 5px;
        margin-bottom: 5em;
        text-align: left;
        color: #eee;
        background: rgba(14,140,140,.8);
        -moz-transform:rotate(90deg); /*Inicialmente boca abajo*/
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg);
        -moz-transition:all linear 0.5s 0s;
        -webkit-transition:all linear 0.5s 0s;
        transition:all ease 0.5s 0s;
        margin-right: 2em;
        }
        
        .caja3:hover .info {
        filter: alpha(opacity=100);
        opacity: 1;
        right:-100px;
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        }

/*css grid div 1*/
.div-1 {
    grid-area: div1;
    display: grid;
    grid-template-areas: "numero1 btn1" "contenForm1 btn1";
}

.btn-crear {
    grid-area: btn1;
    margin-left: auto;
    margin-right: 1em;
}

.numero-div1 {
 grid-area: numero1;
}

.contenForm1 {
    grid-area: contenForm1;
    margin-left: 2em;
    display: grid;
    grid-template-areas: "label1" "input1";
} 

.label-div1 {
    grid-area: label1;
}

.input-div1 {
    grid-area: input1;
    width: 200px;
}

/*css grid div 2*/
.div-2 {
    grid-area: div2;
    display: grid;
    grid-template-areas: "cont1" "cont2";
}

.numero-div2 {
    grid-area: cont1;
}

.contenedor-form-div2 {
    grid-area: cont2;
    display: grid;
    grid-template-areas: "L1 L2 L3 L4" "I1 I2 I3 I4";
    margin-left: 2em;
}

.label1 {
    grid-area: L1;
}

.label2 {
    grid-area: L2;
}

.label3 {
    grid-area: L3;
    margin-left: 2em;
    width: 137px;
}

.label4 {
    grid-area: L4;
}

.input1 {
    grid-area: I1;
}

.input2 {
    grid-area: I2;
    width: 230px;
}

.input3 {
    grid-area: I3;
    width: 150px;
}

.input4 {
    grid-area: I4;
}


/*css grid div 3*/
.div-3 {
    grid-area: div3;
    display: grid;
    height: 33em;
    overflow: hidden;
    grid-template-areas: "N3" "conten3";
}

.numero-div3 {
    grid-area: N3;
}

.div3-content {
    grid-area: conten3;
    display: grid;
    grid-template-areas: "c1 c3 c5" "c2 c4 c5";
    margin-left: 2em;
}

.contenForm {
    grid-area: c1;
    display: inline-grid;
}

.contenForm2 {
    grid-area: c2;
    display: inline-grid;
}

.conten-img {
    grid-area: c3;
    display: inline-grid;
}

.conten-img2 {
    grid-area: c4;
    display: inline-grid;
}

.content-inputs {
    grid-area: c5;
    display: grid;
    grid-template-areas: "b1" "b4" "b2" "b5" "b3" "b6";
}

.label-div {
    grid-area: b1;
}

.label-div2 {
    grid-area: b2;
}

.label-div3 {
    grid-area: b3;
}

.input-div {
    grid-area: b4;
    height: 2em;
}

.input-div2 {
    grid-area: b5;
    height: 2em;
}

.input-div3 {
    grid-area: b6;
    height: 2em;
}

.text {
    width: 23.75em;
    height: 9.37em;
    border-radius: 5px;
    border: 1px solid var(--color-border-input);
    outline: none;
    padding: 0.5em;
    resize: none;
}

.conten-export-img {
    width: 9.37em;
    height: 9.37em;
    background-color: white;
    text-align: center;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-right-style: dashed;
    border-left-style: dashed;
    border-top-color: var(--color-border-input);
    border-right-color: var(--color-border-input);
    border-bottom-color: var(--color-border-input);
    border-left-color: var(--color-border-input);
}


.material-icons.md-50 {
    font-size: 6.25em;
    color: var(--color-grey-border-img);
    margin-top: .2em;
}

.inputimg {
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
}

/*css grid div 4*/
.div-4 {
    grid-area: div4;
    display: grid;
    grid-template-areas: "u1 u1" "u2 u3";
    overflow: hidden;
}

.numero-div4 {
    grid-area: u1;
}

.conteinerForm-2 {
    grid-area: u2;
    margin-left: 2em;
}

.conteinerForm-3 {
    grid-area: u3;
}