.header {
  display: grid;
  grid-template-areas: "icono h2 usuario";
  grid-template-columns: 50px;
  overflow: hidden;
}
  
  .material-icons.md-40 {
    grid-area: icono; 
    font-size: 2.3em; 
    text-align: center;
    margin-top: .2em;
  }
  
  .h2 {
    grid-area: h2;
    text-align: left;
    color: var(--color-grey);
    margin-top: .2em;
  }

  .conteiner-usuario {
    grid-area: usuario;
    display: inline-flex;
    margin-top: 1em;
    margin-left: auto;
    margin-right: 1em;
  }

  .input-usuario {
    margin-bottom: 0em;
  }

  @media only screen and (max-width: 600px) {
    
  }