/*Diseño dashboard*/
.contenido-dash {
  overflow: hidden; 
  background-color: var(--color-white);
  display: grid;
  grid-template-areas: "bolProy" "generales";
}

.grid-contentDash {
  grid-area: bolProy;
  overflow: hidden;
  display: grid;
  grid-template-areas: "publicados proyectos";
  grid-template-columns: 500px 650px;
}

.h4 {
  font-size: 20px;
  margin-left: 1.5em;
  margin-top: .8em;
  color: var(--color-blue-bajo);
}

.grids-dash {
  margin-top: 2em;
  background-color: var(--color-white-light);
  box-shadow: var(--boxShadow-dash);
  border-radius: var(--border-radius-boton);
}

.grid-publicados {
  grid-area: publicados;
  width: 450px;
  height: 362px;
  margin-left: 30px;
}

.grid-proyectos {
  grid-area: proyectos;
  width: 576px;
  height: 362px;
  margin-left: 40px;
}

.boletines-general {
  grid-area: generales;
  
}

.contenedor-Bgeneral {
  width: calc(100% - 15.5em);
  height: 240px;
  display: grid;
  margin-top: .5em;
  margin-left: 30px;
  grid-template: 4em;
  grid-template-areas: "encabezado encabezado" "boletines boletines";
  background-color: var(--color-white-light);
  border-radius: var(--border-radius-boton);
  box-shadow: var(--boxShadow-dash)
}
.conteiner-encabezado {
  display: inline-flex;
  grid-area: encabezado;
  width: 14em;
}

.redirectList {
  background: transparent;
  border: none;
  color: var(--color-blue-bajo);
  margin-left: .8em;
}

.conteiner-bol-gen {
  grid-area: boletines;
  margin-left: 1em;
}

.bol-gen {
  margin-top: 0em;
  width: 10em;
  height: 9em;
  display: inline-flex;
  background-color: var(--color-white);
  margin-left: 2em;
  border: 1px solid var(--color-blue-bajo);
  border-radius: var(--border-radius-boton);
}

.bol {
  margin-left: 3em;
}


.p-bol-gen {
  margin: .6em;
  color: var(--color-grey)
}

.digsn-dash {
  display: inline-flex;
  border-bottom: 1px solid var(--color-grey-border);
  margin: 1.5em;
  margin-top: .5em;
  width: 410px;
  height: 40px;
}

.digsn-dash2 {
  display: inline-flex;
  border-bottom: 1px solid var(--color-grey-border);
  margin: 1.5em;
  margin-left: 1em;
  margin-top: .5em;
  width: 31em;
  height: 40px;
}


.circulo-boletin {
  margin-top: .3em;
  background-color: var(--color-boton);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.circulo-boletin2 {
  margin-top: .3em;
  background-color: var(--color-blue);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.p-boletines {
  margin-left: 1em;
  color: var(--color-texts);
}

.p-boletines:hover {
  color: var(--color-boton);
}

.material-icons.md-18 {
  color: var(--color-borde-redireccion);
}

.material-icons.md-18:hover {
 color: var(--color-boton);
}

.contenedor-icon {
  position: absolute;
  margin-top: -6em;
  margin-left: 16em;
}

.btn-bol {
  background-color: transparent;
  position: absolute;
  width: 3em;
  height: 2em;
  text-align: center;
  margin-top: 6.5em;
  margin-left: 6.5em;
  border: none;
}
@media only screen and (max-width: 600px){
  .contenido-dash {
    overflow-y: scroll;
  }
  .contenedor-dash {
    width: 100vw;
    height: auto;
  }
  .grid-contentDash {
    grid-area: bolProy;
    display: grid;
    grid-template-areas: "publicados" "proyectos";
  }

  .grid-publicados {
    width: 200px;
    height: 150px;
    font-size: .8em;
    overflow: hidden;
    margin-left: 2em;
  }

  .circulo-boletin {
    width: 10px;
    height: 10px;
  }

  .circulo-boletin2 {
    width: 10px;
    height: 10px;
  }

  .disgn {
    visibility: hidden;
    margin-right: 6em;
  }

  .grid-proyectos {
    width: 200px;
    height: 150px;
    font-size: small;
    margin-left: 2em;
    overflow: hidden;
  }

  .contenedor-Bgeneral {
    width: 200px;
    height: 200px;
    margin-left: 2em;
  }

  .conteiner-paginacion {
    visibility: hidden;
  }

  .bo-gen {
    width: 150px;
    height: 150px;
    margin: 1em;

  }

  .bol {
    visibility: hidden;
  }
}