.content-list {
    display: grid;
    grid-template-areas: "filtro" "tabla" "pag";
    grid-template-rows: 50px auto 50px;
    background-color: var(--color-white-light);
    margin-top: 2em;
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    box-shadow: var(--boxShadow-dash);
    color: var(--color-border-input);
}

/*Diseño area filtro*/
.div-filtro {
    grid-area: filtro;
    display: inline-flex;
}

.material-icons.md-28 {
    color: var(--color-grey);
    margin-top: .5em;
    margin-left: 3em;
}

.input-filter {
    height: 2em;
    margin-left: 1em;
    margin-top: .5em;
    border-radius: var(--border-radius-boton);
    border: 1px solid var(--color-grey-border-img);
}


/*Diseño área tabla*/
.div-tabla {
    grid-area: tabla;
}

.tabla{
    width: 82vw;
    margin-left: 2em;
    text-align: center;
    border-bottom: var(--border-line);
}

.tr-th {
    border-top: var(--border-line);
    border-bottom: var(--border-line);
    height: 3em;
}

.tr-td-white {
    height: 2.5em;
}

.tr-td-grey {
    height: 2.5em;
    background-color: var(--color-grey-border-img);
}

.btn-list {
    background: transparent;
    border: none;
    color: var(--color-morado)
}

/*Diseño área paginación*/
.div-paginacion {
    grid-area: pag;
}

