@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root{
  --grid-color-blue: #004040;
  --color-white: whitesmoke;
  --color-grey: #3e3e3e;
  --color-blue: #007F7F;
  --width-img: 2em;
  --height-img: 2em;
  --grid-general-display: grid; 
  --grid-template-columns: 20em 74.9em;
  --grid-display-cabecera: grid;
  --grid-template-cabecera: 4em 70em;
  --img-margin: 1em;
  --margin-top: 1em;
}

/*General diseño*/
h2 {
  color: var(--color-grey);
}

.App {
  font-family: 'Poppins', sans-serif;
}

.Wrapper {
  display: grid;
  grid-template-columns: 25em 69.9em;
  height: 100vh;
}

.menu {
  text-align: center;
  background-color: var(--grid-color-blue);
  color: var(--color-white);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
