/*Medidas generales que se reutilizan en el diseño*/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
:root {
  --grid-color-blue: #004040;
  --color-white: #FBFBFB;
  --color-white-light: #FFFFFF;
  --color-grey: #3e3e3e;
  --color-blue: #007F7F;
  --color-green-boletin: #006666;
  --color-blue-bajo: #98D2DE;
  --color-grey-border: #bebed2;
  --color-grey-border-img: #EBEBEB;
  --color-border-input: #A7A7A7;
  --color-texts: #707070;
  --color-borde-redireccion: #99125C;
  --color-morado: #800D61;
  --color-pink: #D47F7F;
  --color-boton: #A3E2BA;
  /*Incluye algunas medidas que estes usando con frecuencia*/
  /*También las medidas de cada dispositivo para el responsive design*/
  --medida-phone: (max-width: 600px);
  --medida-ipad: (min-width:600px) and (max-width: 991px);
  --media-ipad-pro: (min-width:992px) and (max-width: 1024px);
  /*medidas, color y bordes de los botones*/
  --height-boton: 1.9em;
  --width-boton: 6.87em;
  --border-radius-boton: .32em;
  --border-boton: none;
  --align-boton: center;
  --top-boton: .06em;
  --border-line: solid .06em;
  --boxShadow-dash: 0px 1px 6px 0px rgba(0,0,0,0.16);
  /*css contenedores perfil y view boletines*/
  --width-conten-view: 45em;
  --height-conten-view: 41em;
  --margin-conten: 2em;
}

.conteiner {
  display: grid;
  grid-template: 3.12em auto/auto 1fr;
  grid-template-areas: "aside header" "aside section";
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

.aside {
  grid-area: aside;
  background-color: var(--grid-color-blue);
  width: 12.5em;
  transition: all 1s;
  overflow: hidden;
}

.header {
  grid-area: header;
  background-color: var(--color-white-light);
  display: flex;
  color: var(--color-grey-border);
  overflow: hidden;
  border-bottom: var(--border-line) var(--color-grey-border);
}

.section {
  grid-area: section;
  background-color: var(--color-white);
  overflow-x: hidden;
}

h2 {
  color: var(--color-grey);
}

.btn {
  text-align: var(--align-boton);
  width: var(--width-boton);
  height: var(--height-boton);
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: var(--border-radius-boton);
  color: var(--color-white);
  border: var(--border-boton);
  padding-top: var(--top-boton);
}

.btn:hover {
  background-color: var(--color-blue);
  opacity: 0.7;
  color:  var(--color-white);
}

@media only screen and (max-width: var(--size-phone)) {}