/*Medidas generales que se reutilizan en el diseño*/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
:root {
  --grid-color-blue: #004040;
  --color-white: whitesmoke;
  --color-white-light: #FFFFFF;
  --color-grey: #3e3e3e;
  --color-blue: #007F7F;
  --color-blue-bajo: #98D2DE;
  --color-grey-border: #bebed2;
  --color-grey-border-img: #EBEBEB;
  /*Incluye algunas medidas que estes usando con frecuencia*/
  /*También las medidas de cada dispositivo para el responsive design*/
  --medida-phone: (max-width: 600px);
  --medida-ipad: (min-width:600px) and (max-width: 991px);
  --media-ipad-pro: (min-width:992px) and (max-width: 1024px);
}

body {
  background-color: var(--color-white);
}

h2 {
  color: var(--color-grey);
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--grid-color-blue);
}

@media only screen and (max-width: var(--size-phone)) {}