/*Diseño boletines*/
/*css grid form*/
.contenido-form{
    overflow-x: hidden;
    display: grid;
    grid-template-areas: "div1" "div2" "div3" "div4";
}

/*css grid div 1*/
.div-1 {
    grid-area: div1;
    display: grid;
    grid-template-areas: "numero1 btn1" "contenForm1 btn1";
}

.btn-crear {
    grid-area: btn1;
}

.numero-div1 {
 grid-area: numero1;
}

.contenForm1 {
    grid-area: contenForm1;
    margin-left: 2em;
    display: grid;
    grid-template-areas: "label1" "input1";
} 

.label-div1 {
    grid-area: label1;
}

.input-div1 {
    grid-area: input1;
}

/*css grid div 2*/
.div-2 {
    grid-area: div2;
}


/*css grid div 3*/
.div-3 {
    grid-area: div3;
}
/*css grid div 4*/
.div-4 {
    grid-area: div4;
}

.div {
    background-color: #FFFFFF;
    margin-top: 10px;
    border-bottom: 1px solid var(--color-grey-border);
    padding-top: 1em;
    padding-bottom: 1em;
}

.conteiner-numero {
    color: #3E3E3E;
    display: flex;
}

.numero {
    margin-left: 2em;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--color-grey-border-img);
}

.p {
    margin-top: .1em;
    margin-left: 1em;
}


.input {
    background-color: white;
    width: 15em;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--color-border-input);
}


.text {
    width: 23.75em;
    height: 9.37em;
    margin-top: .8em;
    border-radius: 5px;
    border: 1px solid var(--color-border-input);
}

.div-img {
    display: flex;
    margin-left: 25px;
}

.conten-export-img {
    width: 9.37em;
    height: 9.37em;
    background-color: white;
    margin-left: 3em;
    margin-top: .8em;
    text-align: center;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-right-style: dashed;
    border-left-style: dashed;
    border-top-color: var(--color-border-input);
    border-right-color: var(--color-border-input);
    border-bottom-color: var(--color-border-input);
    border-left-color: var(--color-border-input);
}

.label-img {
    margin-left: 2.4em;
}

.material-icons.md-50 {
    font-size: 6.25em;
    color: var(--color-grey-border-img);
    margin-top: .2em;
}

.label {
    display: flex;
    color: var(--color-blue-bajo);
    padding: 1.5em .8em;
    margin-bottom: -1em;
}

.div-textTarea {
  display: flex;
  flex-wrap: wrap;
  height: 33em;
  overflow: hidden;
}

.inputimg {
    color: transparent;
    background-color: transparent;
    border: none;
}
