/*Diseño dashboard*/

.contenido-dash {
  overflow: hidden; 
}

.grid-contentDash {
  background-color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 5em;
}

.h4 {
  margin-left: 1em;
  margin-top: .8em;
  color: var(--color-blue-bajo);
}

.grids-dash {
  background-color: var(--color-white-light);
  margin-top: -2em;
  box-shadow: var(--boxShadow-dash);
  border-radius: var(--border-radius-boton);
}

.grid-publicados {
    width: 28.1em;
    height: 22.6em;
    margin-left: -1em;
   
}

.grid-proyectos {
  width: 36em;
  height: 22.6em;
  margin-left: 6em;
}

.boletines-general {
  position: absolute;
  width: 70em;
  height: 14em;
  overflow: hidden;
  margin-top: -19em;
  margin-left: 4em;
  display: grid;
  grid-template: 4em;
  grid-template-areas: "encabezado paginacion" "boletines boletines";
  background-color: var(--color-white-light);
  border-radius: var(--border-radius-boton);
  box-shadow: var(--boxShadow-dash)
}

.conteiner-encabezado {
  display: inline-flex;
  grid-area: encabezado;
  width: 11em;
}

.conteiner-paginacion {
  grid-area: paginacion;
  margin-left: -1em;
}

.paginacion {
  display: inline-flex;
  width: 10em;
  height: 3em;
  margin-left: -9em;
  margin-top: .5em;
}

.pag {
  background-color: var(--color-white);
  border: 1px solid var(--color-blue-bajo);
  width: 3em;
  height: 3em;
  text-align: center;
  padding: .5em;
}

.pag:hover {
  background-color: var(--grid-color-blue);
  opacity: .7;
  color: var(--color-white);
}

.conteiner-bol-gen {
grid-area: boletines;
margin-left: 1em;
}

.bol-gen {
  margin-top: 0em;
  width: 10em;
  height: 9em;
  display: inline-flex;
  background-color: var(--color-white);
  margin-left: 1em;
  border: 1px solid var(--color-blue-bajo);
  border-radius: var(--border-radius-boton);
}


.p-bol-gen {
  margin: .6em;
  color: var(--color-grey)
}

.digsn-dash {
  display: inline-flex;
  border-bottom: 1px solid var(--color-grey-border);
  margin: 1.5em;
  margin-top: .5em;
  width: 410px;
  height: 40px;
}

.digsn-dash2 {
  display: inline-flex;
  border-bottom: 1px solid var(--color-grey-border);
  margin: 1.5em;
  margin-left: 1em;
  margin-top: .5em;
  width: 31em;
  height: 40px;
}


.circulo-boletin {
  margin-top: .3em;
  background-color: var(--color-boton);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.circulo-boletin2 {
  margin-top: .3em;
  background-color: var(--color-blue);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.p-boletines {
  margin-left: 1em;
  color: var(--color-texts);
}

.p-boletines:hover {
  color: var(--color-boton);
}

.material-icons.md-18 {
  color: var(--color-borde-redireccion);
}

.material-icons.md-18:hover {
 color: var(--color-boton);
}

.contenedor-icon {
  position: absolute;
  margin-top: -6em;
  margin-left: 16em;
}

.btn-bol {
  background-color: transparent;
  position: absolute;
  width: 3em;
  height: 2em;
  text-align: center;
  margin-top: 6.5em;
  margin-left: 6.5em;
  border: none;
}
@media only screen and (max-width: 600px){
  
}