/*Diseño dashboard*/

.contenido-dash {
  overflow: hidden; 
}

.grid-contentDash {
  background-color: var(--color-white-light);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 5em;
}

.h4 {
  margin-left: 1em;
  margin-top: .8em;
  color: var(--color-blue-bajo);
}

.grid-publicados {
    width: 28.1em;
    height: 22.6em;
    margin-left: -1em;
    box-shadow: 0 0 .3em .1em slategray;
}

.grid-proyectos {
  width: 36em;
  height: 22.6em;
  margin-left: 6em;
  box-shadow: 0 0 .3em .1em slategray;
}

@media only screen and (max-width: 600px){
  
}