/*Diseño dashboard*/
  
h3{
  text-align: left;
  margin: 2em;
}

.img {
  width: var(--width-img);
  height: var(--height-img);
}

.Grid-btn {
  text-align: right;
  margin-top: 1.5em;
  margin-right: 1em;
}
.btn-config {
  text-align: right;
  background-color: var(--grid-color-blue);
}

.Link{
  margin: 2em;
  color: var(--color-white); 
}

.nav-menu{
  display: flex;
  flex-direction: column;
}
.img-margin {
    margin-left: var(--img-margin);
    margin-top: var(--margin-top);     
}

.h1 {
    margin-top: .5em;
    color: var(--color-grey);
}

.grid-contentDash {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 5.5em;
  margin-top: 6em;
  grid-gap: 4em;

}

.grid-publicados {
    width: 30em;
    height: 25em;
    box-shadow: 0 0 .3em .1em slategray;
}

.grid-proyectos {
  width: 30em;
  height: 25em;
  box-shadow: 0 0 .3em .1em slategray;
}

.h3 {
    color: var(--color-blue);
}

.form-bol {
  width: 28em;
  padding:2em;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  transition:all .3s;
  border-bottom:.2em solid #bebed2;
  margin-left: 1em;
}

@media only screen and (max-width: 600px){
.menu{
  height: 25%;
  color: var(--color-white);
}

.nav-menu{
  flex-direction: unset;
  margin-top: -2em;
  font-size: 1.3em;
}

.conteiner-view-general{
  font-size: 1em;
}

.h1{
  text-align: center;
  font-size: 2.5em;
}

.grid-contentDash{
  margin-top: 3em;
  margin-right: 4em;
}
}