/*estilos del componente login*/
.conteiner-general-login{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
}

.row-login{
  display: grid;
  margin-top: 100px;
  width: 50em;
  grid-template-areas: "tituloL sesion";
}

.conteiner-titulo{
  grid-area: tituloL;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  background-color: var(--color-white-light);
  width: 17.5em;
  height: 31.25em;
  border: 2px solid var(--color-blue);
}

.conteiner-sesion{
  grid-area: sesion;
  display: grid;
  flex-wrap: wrap;
  background-color: white;
  width: 32.5em;
  height: 31.25em;
  color: var(--color-blue);
  box-sizing: border-box;
}

.titular-inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-grey);
  margin-top: 1em;
}

.sub-titulo {
  display: flex;
  color: var(--color-grey);
  margin-top: 0em;
  height: 30px;
}

.logotn {
  margin-top: 3em;
  height: 9em;
  width: 9em;
}

.miImg{
  margin-left: -3em;
  margin-top: 1em;
  margin-bottom: 0;
  width: 26.68em;
  height: 12.5em;
  background-image: url('../src/imgs/img-login.png');
}

.panel-default {
  position: absolute;
  color: red;
  margin-top: 26em;
}

.text-inicio {
  text-align: left;
  margin-left: 2em;
  margin-top: 4em;
  color: #007F7F;
}

.login{
  margin-top: -1.5em;
  box-sizing: border-box;
}

.form { 
  margin: 2em;
  width: 22em;
  box-sizing:border-box;
  position:relative;
  box-sizing: border-box;
}

.input-login {
  width:100%;
  padding:-1em;
  margin-top: .5em;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  transition:all .3s;
  border-bottom: 1px solid #bebed2;
}

.img-correo {
  width: 1.25em;
  height: 1em;
  background-image: url(../src/imgs/correo.png);
  margin-top: -1.5em;
  margin-left: 20.4em;
}

.img-contraseña {
  width: 1em;
  height: 1.31em;
  background-image: url(../src/imgs/contraseña.png);
  margin-top: -1.8em;
  margin-left: 20.5em;
}

.text-login {
  content: attr(type);
  display: flex;
  margin:2em 0 0;
  text-align: left;
  font-size:.9em;
  color:#5a5a5a;
}

.custom-control{
  margin-top: 1em;
}

.btn-login{
  margin-top: 1em;
  float: right;
  margin-left: 58em;
}

.a-forgot {
  color: var(--color-grey);
}

.footer{
  height: 3.12em;
  color: var(--color-white-light);
  font-size: .7em;
  opacity: 0.9;
  padding: 5em;
}


/*Media querie la cual controla el responsive para dispositivos moviles */
@media only screen and (max-width: 600px){
  .row-login {
    grid-template-areas: "tituloL" "sesion";
    width: 100vw;
    height: 100vh;
  }

  .conteiner-titulo {
    width: 100vw;
    height: 140px;
    margin-top: 0em;
  }

  .titular-inicio {
    margin-top: .5em;
    margin-left: 0em;
  }

  .sub-titulo {
    margin-top: 5em;
    margin-left: -8em;
  }

  .conteiner-sesion {
    margin-top: 0em;
    width: 100vw;
    height: 100vh;
    font-size: 1.3em;
  }

  .text-inicio {
    margin-top: 1.5em;
  }

  .login {
    margin-top: -6em;
  }

  .form {
    width: 80vw;
  }

  .logotn {
    display: none;
  }

  .miImg {
    display: none;
  }
}

/*Media querie la cual controla el responsive para dispositivos medianos Ipad */
@media(min-width:600px) and (max-width: 991px){
  .row-login {
    grid-template-areas: "tituloL" "sesion";
    width: 100vw;
    height: 100vh;
  }

  .conteiner-titulo {
    height: 200px;
    width: 100vw;
    font-size: 2em;
  }

  .titular-inicio {
  margin-top: 0em;
  margin-left: -7em;
  font-size: 1.5em;
  }

  .sub-titulo {
    margin-top: 4em;
    margin-left: -6.8em;
    font-size: 1em;
  }
  .logotn {
    font-size: small;
    position: absolute;
    margin-left: 7em;
    margin-top: 4em;
  }

  .conteiner-sesion {
    width: 100vw;
    height: 100vh;
    font-size: 1.3em;
    grid-template: 200px/ 1fr;
    grid-template-areas: "textI" "login";
  }

  .text-inicio {
    grid-area: textI;
    margin-top: 2em;
  }

  .login {
    grid-area: login;
  }

  .form {
    
    margin-top: 0em;
  }

  .img-correo {
    display: none;
  }

  .img-contraseña {
    display: none;
  }

  .miImg {
    display: none;
  }
}

/*Media querie la cual controla el responsive para dispositivos grandes Ipad-pro */
@media(min-width:992px) and (max-width: 1024px){
  .row-login {
    width: 100vw;
    margin-top: -20em;
  }
  .conteiner-sesion {
    margin-left: -14em;
  }

  .miImg {
    margin-left: -.5em;
  }

  .footer {
    margin-left: -20em;
  }
}
