/*Diseño pagina inicio*/
.Grid-inicio {
    text-align: center;
    background-color: var(--grid-color-blue);
    color: var(--color-white);
    
  }
  
  .titular-inicio {
    margin-top: 7em;
  }
  
  .Grid-inicioSesion {
    text-align: center;
    background-color: var(--color-white);
  }
  
  .text-inicio {
    text-align: left;
    margin: 8em;
    color: #007F7F;
  }
  
  .form {
    margin: 6.5em;
    width: 40em;
    height: 20em;
    box-sizing:border-box;
    position:relative;
  }
  
  .input-login {
    width:100%;
    padding:2em;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:.2em solid #bebed2;
  }
  
  .text-login {
    content:attr(type);
    display:block;
    margin:2em 0 0;
    text-align: left;
    font-size:1.5em;
    color:#5a5a5a;
  }
  
  .btn-login {
    float:right;
    padding:1em 4em;
    margin:.5em 0 0;
    background-color: #007F7F;
    border-radius: 1em;
    color:var(--color-white);
    cursor:pointer;
    transition:all .3s
  }