.conteiner-titulo{
  display: inline-flex;
  flex-wrap: wrap;
  background-color: var(--drid-color-blue);
  height: 100vh;
  width: 100vw;
}

.conteiner-sesion{
  display: inline-flex;
  flex-wrap: wrap;
  background-color: var(--color-white);
  height: 100vh;
  width: 100vw;
  color: var(--color-blue);
}

.titular-inicio {
  display: flex;
  margin-top: 6em;
  color: var(--color-white);
  margin-left: 4em;
}

.text-inicio {
  text-align: left;
  margin-left: 4em;
  margin-top: 4em;
  color: #007F7F;
}


.form {
  margin: 6em;
  width: 40em;
  height: 20em;
  box-sizing:border-box;
  position:relative;
}


.input-login {
  width:100%;
  padding:2em;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  transition:all .3s;
  border-bottom:.2em solid #bebed2;
}

.text-login {
  content: attr(type);
  display: flex;
  margin:2em 0 0;
  text-align: left;
  font-size:.9em;
  color:#5a5a5a;
}

@media only screen and (max-width: 600px){
  .conteiner-titulo{
    height: 6.2em;
    text-align: center;
  }
  .titular-inicio{
    text-align: center;
    font-size: 1.7em;
    margin-top: 1.5em;

  }
  .conteiner-sesion{
    height: 75em;
    font-size: 1em;
    
  }

  .text-inicio{
    height: 20%;
  }

  .text{
    margin-left: 3em;
    font-size: 1.7em;
  }

  .login{
    width: 50em;
    margin-top: -27em;
    font-size: 1em;
  }

  .form{
  font-size: 1.5em;
  margin: 3em;
  width: 20em;
  height: 10em;
  }

  .btn{
    margin-top: 2em;
  }
}

@media(min-width:600px) and (max-width: 992px){
  
  .conteiner-titulo{
    height: 11em;
    text-align: center;
  }

  .titular-inicio{
    text-align: center;
    font-size: 1.7em;
    margin-top: 1.5em;

  }
  .conteiner-sesion{
    height: 75em;
    font-size: 1em;
    
  }

  .text-inicio{
    height: 20%;
  }

  .text{
    margin-left: 3em;
    font-size: 1.7em;
  }

  .login{
    width: 50em;
    margin-top: -27em;
    font-size: 1em;
  }

  .form{
  font-size: 1.5em;
  margin: 3em;
  width: 20em;
  height: 10em;
  }

  .btn{
    margin-top: 2em;
  }
}

@media(min-width:767px) and (max-width: 992px){
  .conteiner-titulo{
    height: 75em;
  }
  .titular-inicio{
    text-align: left;
    margin-left: 2em;
    font-size: 2em;
    margin-top: 1.5em;
    
  }
  .conteiner-sesion{
    height: 75em;
    font-size: 1em;
  }

  .text-inicio{
    height: 30%;
  }

  .text{
    margin-left: 2em;
    font-size: 1.7em;
  }

  .login{
    width: 70em;
    margin-top: -29em;
    font-size: .9em;
  }

  .form{
  font-size: 1.5em;
  margin: 2em;
  width: 20em;
  height: 10em;
  }

  .btn{
    margin-top: 2em;
  }
}