.menu {
  display: block;
}

.contenedor-dash {
  position:absolute;
  z-index:2;
  top:0;
  height: 100%; 
  box-sizing: border-box; 
  transition:  ease 250ms; 
  transition:  ease 250ms;
}

.contenedor-titulo {
  display: inline-flex;
  color: var(--color-white);
}

.h3 {
  text-align: left;
  margin-left: .4em;
  margin-top: .6em;
  color: var(--color-white);
}

.btn-config {
  display: flex;
  margin-left: 2em;
  margin-top: 1.6em;

}

.nav-menu {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
}

.Link {
  margin: 1em;
  color: var(--color-white);
  display: inline-flex; 
  transition: 0.3s;
}

.material-icons .md-24 {
  line-height: .5em;
}

.link-out {
  margin-top: 23em;
}

.text-menu {
  margin-left: 1.5em;
  margin-top: .1em;
}

.conten-boton {
  height: 30px;
  margin-top: -4.9em;
}

/*.boton::before,
.boton::after { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 20px;
    background-color: black;
    background-image: url();
    transition: transform 0.3s ease-in;
}*/

.contenedor-boton {
  height: 32px;
  display: flex;
  margin-top: -4.5em;
  margin-left: -4.5em;
}

.boton-dash {
  height: 31px;
}

.boton-boletines {
  margin-top: 0.3em;
  margin-left: 0.5em;
}




