.contenedor-titulo {
  display: inline-flex;
  color: var(--color-white);
}

.h3 {
  text-align: left;
  margin-left: .4em;
  margin-top: .6em;
  color: var(--color-white);
}

.btn-config {
  display: flex;
  margin-left: 2em;
  margin-top: 1.6em;

}

.nav-menu {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
}

.Link {
  margin: 1em;
  color: var(--color-white);
  display: inline-flex; 
  transition: 0.3s;
}

.material-icons .md-24 {
  line-height: .5em;
}

.link-out {
  margin-top: 22em;
}

.text-menu {
  margin-left: 1.5em;
  margin-top: .1em;
}

.conten-boton {
  height: 30px;
  margin-top: -4.9em;
}
